<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity2</title>
    <link rel="stylesheet" href="./act2.css">
</head>
<body>
    <header>
        <h1>Welcome to My Page</h1>
        <form action="">
            <label for="User">Username</label>
            <input type="text">
            <label for="Password">Password</label>
            <input type="text">
            <input type="button" value="sign in">
        </form>
    </header>

    <nav>
        <ul>
            <a href="">Home</a>
            <a href="">About Me</a>
            <a href="">Contact</a>
        </ul>
    </nav>

    <main>
        <aside>
            <h2>Quick Info</h2>
            <ul>
                <li>Loves coding but i hate explaining it.</li>
                <li>Enjoys Esports like Mobile Legend/CROSSFIRE</li>
                <li>Mama's lover</li>
            </ul>
        </aside>

        <div class="content">
            <section id="home">
                <h2>Home</h2>
                <p>WAZAPPP MGA MANANAP.</p>
            </section>

            <article id="about">
                <img src="img.jpg" alt="Profile Picture">
                <h2>Name: Arnians</h2>
                <h2>Year & Section: BSIT-3C</h2>
                <h2>Age: 17</h2>

                
                <h3>My Skills</h3>
                <table>
                    <tr>
                        <th>Skill</th>
                        <th>Level</th>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>Programming</td>
                        <td>35%</td>
                    </tr>
                    <tr>
                        <td>Esports</td>
                        <td>LOL,VALURANT,HOK,ML,SCATTER</td>
                    </tr>
                </table>
            </article>

            <section id="contact">
                <h2>Contact</h2>
                <p>Number: 09512048281</p>
                <p> Gmail: loonabagot@gmail.com</p>

                
                
            </section>
        </div>
    </main>

    <footer>
        <p>@All Rights Reserved Makinity...</p>
    </footer>
</body>
</html>