<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./act5.css">
  
</head>
<body>
  <h1>hey men</h1>
  <button id="myButton">pislita ba</button>
  <p id="output">I am Arnie</p>

  <script>
    function Click() {
      document.body.classList.toggle('Click');

      let output = document.getElementById("output");
      if (output.textContent === "I am arnie") {
        output.textContent = "I am music lover";
      } else {
        output.textContent = "I am arnie";
      }
    }

    document.getElementById("myButton").addEventListener("click", Click);
  </script>
</body>
</html>